<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolor dolorem recusandae eaque animi consectetur minima, error accusamus. Perferendis, fugit. Libero vitae cupiditate quidem obcaecati quaerat impedit deleniti qui quisquam!20</p>
    </div>
</section>