<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App node.js and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eum error aperiam enim molestias. Cumque.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam rem doloremque, rerum reprehenderit corrupti ut amet. Quisquam quos facilis expedita?</p>
    <a href="http://www.google.com" class="btn btn-primary">google</a>
</div>