<div class="jumbotron mt-4">
    <h1 class="display-4">App de notas creada con node y mongodb</h1>
    <p class="lead">Pagina web</p>
    <hr class="my-4">
    <p>Para mayor informacion</p>
    <a href="http://www.google.com" class="btn btn-primary">Presione aqui</a>
</div>
